<!-- Projects -->

<h1 class="display-4">Projects</h1>
<article>
<!-- 
  <header>
    <h1>{{ page.title | escape }}</h1>
    <p class="text-muted">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • {{ page.author }}
      {%- endif -%}
    </p>
  </header>

  <section>
    {{ content }}
  </section>

</article> -->

{%- if site.projects.size > 0 -%}
{% for project in site.projects %}
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ project.title }} - {{ project.event }}</h4>
      <p class="card-text">{{ project.oneliner }}</p>
    </div>
  </div>
  {%- endfor -%}
 {%- endif -%}
  